* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #2B2F38;
    height: 100dvh;
}


img {
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    border: 3px solid rgba(255, 255, 255, 0.169);
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    z-index: 10;
    opacity: .7;
    border-radius: 10px;
    cursor: pointer;
}


.rotate-wrap {
    position: absolute;
    z-index: 100000;
    width: 100%;
    height: 100%;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    display: none !important;
}

.rotate-wrap h2 {
    color: #fff;
    text-transform: uppercase;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}


@keyframes roll {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-90deg);
    }
}

@keyframes blink {
    from {
        opacity: .7;
        transform: scale(1);
    }

    to {
        opacity: 0.4;
        transform: scale(1.1);
    }
}

@media screen and (max-width: 480px) {
    .rotate-wrap {
        display: flex !important;
    }

}

@media screen and (max-width: 1024px) {
    img {
        height: 100vh;
    }
}